.header {
    background: url('../img/destaque.jpeg') no-repeat;
    background-size: cover;
    padding-top: 2rem;
}

.header .mainMenu {
    text-align: center;
    }

.header .mainMenu .menuItem {
    display: inline-block;
    margin: 0 0.1rem 2rem 0;
}
.header .mainMenu .menuItem a {
    color: white;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.5s;
}

.header .mainMenu .menuItem a:hover {
    background-color: #48A3A6;
}

.header .informacaoContainer {
    padding: 0 0 2.75rem 0;
    text-align: center;
    text-transform: uppercase;
}

.header .textContainer {
    color: white;
    text-shadow: 0.25rem 0.25rem 0.6rem black;
}

.header .textContainer .textTitle {
    font-size: 3rem;
}

.header .textContainer .textSubTitle {
    color: #64ff64;
    font-size: 2.6rem;
    margin-top: 0.5rem;
}

.header .informacaoContainer .btnContainer .buttonInscricao {
    display: inline-block;
    padding: 1.5rem 3rem;
    margin: 0.3rem;
    background-color: #48A3A6;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.05rem 0.3rem black;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: bold;
    color: white;
}

.header .btnContainer {
    margin-top: 1.8rem;
}

.informacaoContainer {
    margin-top: 1.25rem;
    text-align: center;
}

.informacaoContainer .textTitle {

    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.informacaoContainer .textSubTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.informacaoContainer .descricao {
    font-size: 1.05rem;
    line-height: 2.2rem;
}

.palestranteContainer{
    padding-top: 2.5rem;
    background: #EF7247;
    color: #fff;
    text-align: center;
}

.palestranteContainer .textTitle {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.palestranteContainer .textSubTitle {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.palestranteContainer .containerCartaoPalestrante {
    display: inline-block;
    width: 70vw;
    background-color: white;
    padding: 1.2rem;
    margin-bottom: 1rem;
    border-radius: 0.7rem;
    vertical-align: top;
    color: #000;
}

.palestranteContainer .containerCartaoPalestrante img {
    border-radius: 50%;
    height: 47.559vh;
    width: 70vw;
}

.palestranteContainer .palestranteNome {
    padding-top:1rem;
}

.palestranteContainer .palestranteBiografia {
    font-weight: bold;
    margin-top: 1rem;
}

.palestranteContainer .palestranteAssunto {
    margin-top: 1rem;
    padding-top: 0.5rem;
}



@media(min-width: 420px) {
    .header .informacaoContainer {
        font-size: 28px;
    }

    .header .informacaoContainer .textTitle {
        font-size: 60px; 
    }
    
    .header .informacaoContainer .textSubTitle {
        font-size: 58px;
        margin-top: 8px;
    }

    .palestranteContainer .containerCartaoPalestrante {
        display: inline-block;
        width: 250px;
        margin: 0 16px 32px 0;
    }
    
    .palestranteContainer .containerCartaoPalestrante img {
        height: 250px;
        width: 250px;
    }
    
    .palestranteContainer .palestranteNome {
        padding-top:16px;
    }
    
    .palestranteContainer .palestranteBiografia {
        font-weight: bold;
        margin-top: 16px;
    }
    
    .palestranteContainer .palestranteAssunto {
        margin-top: 16px;
        padding-top: 8px;
    }
}

@media(min-width: 1060px) {
    .informacaoContainer {
        width: 1140px;
        margin: 32px auto;
    }
}